

.emphasize-dark {
    box-shadow: 2 10 20px 30px rgba(185, 76, 76, 0.35)
}



  body {
    font-family: 'Dancing Script', cursive;
    }

    body {
      background-image: url("../img/famous-brands-collage.jpg");
      
     }

     h2 {
      border-bottom: 4px dotted rgb(182, 109, 133);
     }
     

   



     
      
  



   

     
  